*.pyc
*.swp
.idea
*.iml
build
dist
*.egg*
.DS_Store
*.zip
*.tar
/deployment
/extras
.editorconfig

/octoprint_plabric/bin/janus/linux/x86_64/etc/janus/janus.jcfg
/octoprint_plabric/bin/janus/linux/x86_64/etc/janus/janus.plugin.streaming.jcfg
/octoprint_plabric/bin/janus/linux/x86_64/etc/janus/janus.transport.http.jcfg
/octoprint_plabric/bin/janus/linux/x86_64/etc/janus/janus.transport.websockets.jcfg

/octoprint_plabric/bin/janus/linux/armv7l/etc/janus/janus.jcfg
/octoprint_plabric/bin/janus/linux/armv7l/etc/janus/janus.plugin.streaming.jcfg
/octoprint_plabric/bin/janus/linux/armv7l/etc/janus/janus.transport.http.jcfg
/octoprint_plabric/bin/janus/linux/armv7l/etc/janus/janus.transport.websockets.jcfg
