<script>
    var plabric_status = {
        status : '{{ plugin_Plabric_status }}',
        status_color: 'red',
    }
</script>


<li data-bind="visible: loginState.isAdmin" style="">
    <a id="navbar_plugin_plabric" title="Plabric status">
        <p style="margin: 0">Plabric:
            <span data-bind="style: { color:status_color() }"><span data-bind="text: status"></span></span>
        </p>
    </a>
</li>
