<li data-bind="visible: loginState.isAdmin" style="">
    <a id="navbar_plugin_plabric" title="Plabric status">
        <p style="margin: 0">Plabric:
            <span data-bind="style: { color:plabric.status_color() }"><span data-bind="text: plabric.status"></span></span>
        </p>
    </a>
</li>
